{% extends 'base.html' %}
{% load static %}

{% block title %}Проекты по категории{% endblock %}

{% block content %}
<h1>Проекты в категории: {{ category }}</h1>
<div class="row">
  {% for project in projects %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        {% if project.image %}
        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.short_desc }}</p>
          {% if project.url %}
            <a href="{{ project.url }}" class="btn btn-outline-primary" target="_blank">Подробнее</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>В этой категории пока нет проектов.</p>
  {% endfor %}
</div>
{% endblock %}